/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: white;
    width: calc(100% * 2/3);
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0 #928a8a;
    padding: 2.5% 4%;
}

.info div {
    width: 65%;
    display: flex;
    justify-content: right;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.info button, .add-teacher-button, .form-button {
    padding: 8px 20px;
    border: 1px solid #f76f5f;
    border-radius: 3%;
    background-color: white;
    color: #f76f5f;
}

.add-teacher-button{
    color: #f76f5f;
    font-size: 110%;
}

.add-teacher-button:hover{
    color: white;
}

.add-teacher-button, header nav a, .info button, .info input, .form-button, .title, .teacher-initials, .teacher-name {
    font-family: "Calibri Light", sans-serif;
    font-weight: bold;
}

.info button:hover, .add-teacher-button:hover, .form-button:hover {
    background-color: #f76f5f;
    color: white;
}

.info input {
    margin-right: 20px;
    padding: 10px 5px;
    width: 35%;
}

.info input:hover, .info input:focus {
    width: 50%;
}

.info h3 {
    text-align: left;
    font: bold 50px "Times New Roman", Times, serif;
    color: #fcfcfc;
    text-shadow:
            -1px -1px 0px #f76f5f,
            1px 1px 0px #585a58;
}

.info h3:hover {
    cursor: pointer;
    text-shadow:
            -2px -2px 0px #f76f5f,
            2px 2px 0px #585a58;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #f76f5f;
    font-size: 20px;
    padding: 0;
    margin-right: 25px;
}

nav ul {
    display: flex;
}

nav a:hover {
    color: #d2442f;
}

.title {
    font-size: 32px;
    margin-bottom: 35px;
}

.main-hr {
    height: 1.2px;
    border: none;
    background-color: #585a58;
    width: 42%;
    margin: 30px auto;
}

.filter {
    display: flex;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
}

.filter-element, .teacher-subject, .teacher-region, .table-section table, .table-buttons button, .footer-text,
.popup-label, footer nav a, .form-label, .flex-form-element label, .teacher-info-popup-content, .close-button {
    font-family: "Calibri", sans-serif;
}

.filter-element {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #919798;
    height: 40px;
}

.filter-element select {
    padding: 7px;
    margin-left: 15px;
}

.checkbox-label:hover {
    color: black;
}

.filter-hr {
    width: 1.5px;
    height: 32px;
    background-image: linear-gradient(to bottom, #919798 50%, transparent 50%);
    background-size: 100% 4px;
    border: none;
    margin: 0px 15px;
}

.top-teachers {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
}

.teacher {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105%;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid #f76f5f;
    color: #f76f5f;
}
.photo-wrapper:hover {
    border-color: #d2442f;
    color: #d2442f;
    cursor: pointer;
}

.fav {
    position: relative;
}

.fav::before {
    content: "";
    background-image: url("/src/images/star.png");
    background-size: cover;
    width: 25%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 8%;
    left: 67%;
    z-index: 1;
}

.teacher-photo {
    width: 100%;
    transition: transform 0.3s ease;
}

.teacher-photo:hover {
    transform: scale(1.3);
}

.teacher-initials {
    color: inherit;
    font-size: 30px;

}

.teacher-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    margin-top: 12px;
}

.teacher-subject {
    font-size: 15px;
    color: #919798;
    margin-top: 12px;
}

.teacher-region {
    font-size: 12px;
    margin-top: 8px;
}

#my-chart {
    margin-bottom: 30px;
}

.table-section table {
    width: 100%;
    justify-content: center;
    font-size: 15px;
}

.table-section tr:nth-child(even) {
    background-color: #faf5fb;
}

.table-section td{
    padding: 8px 0px 8px 0px;
}

.table-section thead{
    border-bottom: 1.2px solid black;
}

.table-section th {
    padding: 10px 10px;
    font-size: 17px;
    color: black;
    position: relative;
}

.table-hover {
    position: absolute;
    width: 20px;
    height: 21px;
    visibility: hidden;
}

.reversed {
    transform: rotate(180deg);
}

.table-section th:hover {
    border-bottom: 3px solid black;
    background-color: #fafafa;
}

.table-section th:hover .table-hover {
    visibility: visible;
}

td {
    height: 33.25px;
}

.table-hover:hover{
    visibility: visible;
}

th.table-name {
    text-align: left;
    padding-left: 28px;
}

td.table-name {
    padding-left: 15px;
    text-align: left;
}

.table-buttons {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    margin-left: 7px;
}

.hidden {
    display: none;
}

.table-buttons button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 15px ;
    color: #1f9ecc;
    margin-right: 8px;
}

.table-buttons .active, .table-buttons .button-more, .table-buttons .back-button {
    color: black;
}

.fav-teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.fav-teachers .teacher {
    flex: 0 0 20%;
}

.left-arrow {
    position: absolute;
    background-image: url("/src/images/arrow.png");
    background-size: cover;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 5%;
    height: 30%;
    left: -6%;
}

.left-arrow:hover, .right-arrow:hover {
    background-image: url("/src/images/arrow-hover.png");
    width: 5%;
    height: 30%;
}

.right-arrow {
    transform: rotate(180deg);
    position: absolute;
    background-image: url("/src/images/arrow.png");
    background-size: cover;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 5%;
    height: 30%;
    right: -6%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
}

#add-teacher-popup, #teacher-info-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.add-teacher-popup-content {
    width: 450px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    background-color: #464648;
    padding: 8px 12px;
    color: white;
}

.popup-label {
    font-size: 20px;
}


.close-button {
    font-size: 25px;
    color: white;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.teacher-form {
    padding: 20px 30px;
}

.grid-inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.grid-inputs input, .grid-inputs select {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.grid-inputs > :first-child, .grid-inputs > :nth-child(2) {
    grid-column: span 2;
}

.form-element {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0px;
}

.flex-form-element {
    width: 50%;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.form-label {
    font-size: 15px;
    color: #919798;
}

.flex-form-element label {
    font-size: 15px;
}

.notes-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.notes-section textarea {
    height: 110px;
    margin-top: 5px;
}

.form-button {
    width: 100%;
    margin-top: 30px;
    font-size: 23px;
}

.teacher-info-popup-content {
    width: 700px;
    background-color: white;
}

.teacher-card {
    padding: 15px;
    position: relative;
}

.teacher-card-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.teacher-card-description {
    clear: left;
    text-align: left;
}

.teacher-card-photo {
    float: left;
    height: 220px;
    width: 220px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.teacher-card-name {
    font-size: 30px;
    margin-bottom: 20px;
}

.teacher-card-subject, .birthday-label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 17px;
}

.days-to-birthday {
    font-size: 18px;
}

.teacher-card-region, .teacher-card-age-sex, .teacher-card-tel, .teacher-card-email {
    font-size: 14px;
    margin-bottom: 12px;
}

.teacher-card-email, .teacher-card-map {
    color: #1f9ecc;
}

.teacher-card-email {
    text-decoration: none;
}

.teacher-card-map {
    text-decoration: underline dotted;
    display: none;
}

#teacher-map {
    width: 100%;
    aspect-ratio: 2/1;
    margin-top: 15px;
}

.teacher-wrapper a {
    width: 100%;
    height: 100%;
}

.teacher-card-description p {
    margin: 20px 0;
}

.star-button {
    position: absolute;
    float: right;
    background-image: url("/src/images/star-empty.png");
    background-size: cover;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    right: 1%;
}

.photo-wrapper a {
    width: 100%;
    height: 100%;
}

@media (max-width: 1300px) {
    .filter{
        justify-content: center;
    }
}

@media (max-width: 1030px) {
    .main-container {
        width: 90%;
    }
}

@media (max-width: 902px) {

    .teacher-info-popup-content {
        width: 500px;
    }

    .teacher-card-name {
        font-size: 23px;
        width: 100px;
    }

}

@media (max-width: 768px) {
    .teacher{
        padding: 10px;
    }
}

@media (max-width: 628px) {
    .main-container{
        width: 100%;
    }
    .info h3 {
        font-size: 35px;
    }
    nav a {
        font-size: 17px;
    }

    .add-teacher-button {
        font-size: 90%;
        padding: 8px 10px;
    }

    .filter-element select {
        padding: 5px;
    }

    .teacher-initials {
        font-size: 23px;
    }
}

@media (max-width: 530px) {

    .main-container{
        min-width: 500px;
    }

    .teacher-name {
        font-size: 14px;
    }

    .title {
        font-size: 25px;
    }

    .add-teacher-button {
        padding: 8px 5px;
        font-size: 12px;
    }

    .teacher-card-info {
        clear: left;
    }

    .teacher-card-name {
        width: auto;
    }

    .flex-form-element {
        width: 70%;
        justify-content: left;
    }

    .flex-form-element .form-label{
        margin-right: 10px;
    }

    .info button, .info input {
        padding: 5px 10px;
    }

}



